**/target/*
**/*.rs.bk

transcript
challenge*
response*
phase1radix2m*
tmp_*
tokens*
*.csv

.vscode
**.idea/

**/*.DS_Store

**/*.env
venv
status.json
mc_campaign_settings.json
ceremony_config

# Contribution artifacts
*.params
namada_contributor_info_round_*
status.json
*keypair
coordinator.mnemonic
keypair.toml
genesis.toml

# AWS
aws
docker-compose.yml

config.json
emails.csv