**/target/*
**/*.rs.bk

transcript
challenge*
response*
phase1radix2m*
tmp_*

.vscode
**.idea/

**/*.DS_Store

**/*.env
status.json

# Contribution artifacts
*.params
namada_contributor_info_round_*
status.json
*keypair
coordinator.mnemonic

# AWS
aws
docker-compose.yml